.body-background
{
    margin: 0;
    padding: 0;
    background:  #EF761E;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}
#login-box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: brown;
    box-shadow: 0 2px 4px rgba(165, 42, 42, 0);
}
.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28;
    width: fit-content;
}
#number2,#number1,#player1_login,#player2_login
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: brown;
}
.btn
{
    margin-bottom: 28px;
    width: fit-content;
    height: 32px;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    background-color:#EF761E;
}

.btn:hover,
.btn:focus
{
    background: #ef751ed5;
    transition: 0.2s ease;
}
#output
{
background: brown;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#word
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px; 
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: #EF761E;
}